
<div class="flex flex-wrap justify-center items-start gap-5">
    @for (vehicle of listVehicles; track $index) {
    <div class="bg-slate-50 border border-slate-300 shadow-xl rounded">
        <div class="w-full py-2 px-2 text-lg font-bold">{{ vehicle.name }}</div>

        <div class="w-72 h-60 px-2">
            <app-slider [images]="vehicle.image"></app-slider>
        </div>

        <div class="p-2 rounded-b">
            <button class="p-2 w-full bg-emerald-800 text-white rounded" (click)="showDetail(vehicle)">Ver detalle</button>
        </div>
    </div>
    }
</div>