<div class="flex flex-col items-start gap-1 m-2">
    <label for="" class="float-left block  font-normal text-gray-400 text-lg">{{ label }}</label>
    <input
        class="peer block w-full appearance-none border-none   bg-transparent py-2.5 px-0 text-sm text-gray-900 focus:border-blue-600 focus:outline-none focus:ring-0"
        type="file"
        [formControl]="control"
        [value]="value"
    >
    
    @if(control.hasError(getKeyError(control.errors)) && control.touched) {
        <span class="text-red-600">{{ errors[nameError].message }}</span>
    } 
</div>